@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  justify-content: center;
}
nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 100px;
}
nav li {
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  color: #0072b1;
}
nav li:hover {
  color: #0072b1;
}
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 5px;
  }
}@media screen and (min-width: 601px) {
  nav ul {
    gap: 100px;
  }
}
.info-traveler {
  display: flex;
  justify-content: center;
}
.info-traveler p {
  width: 50%;
  margin: 0%;
  font-size: 18px;
}
.info-global {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h2 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif;
}
img {
  border-radius: 10px;
}
footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  background-color: #333;
  color: #fff;
}
footer a {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
footer a:hover {
  color: #0072b1;
}
p {
  font-family: "Roboto", sans-serif;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
.containerTwo:hover {
  background-color: #087a2c;
  transition-duration: 0.3s;
}
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
.socialSvg {
  width: 17px;
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.finish {
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.info-global a {
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: #0072b1;
  font-weight: 600;
}
.info-global a:hover {
  color: #087a2c;
}
